@media all and (max-width: 1170px) {
  .prev{
    left: 0 !important;
  }
  .next{
    right: 0 !important;
  }
  header {
    // height: 111vh;
    .header-banner {
      .header-txt {
        transform: translate(13%, 68%);
        &-1 {
          font-size: 16px;
          line-height: 15.23px;
          transform: translate(4px, -107%);
        }
        &-2 {
          font-size: 65px;
          line-height: 66px;
        }
      }
      .social-link {
        transform: translate(28%, 105%);
        font-size: 24px;

        line-height: 40px;
        a {
          &:hover {
            &::after {
              transform: translate(118px, -18px);
            }
          }
        }
      }
    }
  }
  .list {
    .list-bot {
      .item {
        &:hover {
          .product-action-grid {
          width: 263px;
          }
        }
        .product-action-grid {
          width: 263px;
        }
        .list-img {
          .s-img {
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .banner {
    &-2{
      .box-banner{
        .box{
          width: 278px;
          transform: scale(0.6);
          height: 339px;
          position: absolute;
          top: -10px;
          right: -10px;
          box-sizing: border-box;
          // border: 5px solid white;
        }
        .box-txt{
          transform: scale(0.6);
          position: absolute;
          top: 25px;
          right: -3px;
        }
      }
    }
    .container {
      width: 100%;
      .banner-ct {
        img {
          width: 100%;
          height: 315.05px;
        }
        .txt-banner-1 {
          transform: translate(3px, -100px);

          .txt-8 {
            font-size: 18px;
          }
          .txt-9 {
            line-height: 0px;
          }
        }
        .txt-banner-5 {
          transform: translate(3px, -100px);

          .txt-8 {
            font-size: 18px;
          }
          .txt-9 {
            line-height: 0px;
          }
        }
        .box-txt-3 {
          bottom: 85px;
          left: 46px;
          .btxt-5 {
            font-size: 13px;

            line-height: 0;
          }
          .btxt-6 {
            font-size: 35px;

            word-spacing: 0;

            line-height: 0;
          }
        }
        .box-txt-6 {
          top: 100px;
          left: 63px;
          .btxt-8 {
            font-size: 38px;
            line-height: 34px;
          }
          .btxt-9 {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
    .box {
    }
  }
  .blog {
  
    .col-4 {
      margin: auto;
      padding: 0px 10px;
      .blg{
        .img-top{
          display: block;
          width: 100%;
        }
        .blg-bot{

        }
      }

    }
  }
 
  .brand{
    .brd{
img{
  display: block;
  width: 100%;
}
    }
  }
  footer{
    .sb-btn{
      transform:translate(-20px, 62px)
    }
  }
}
@media all and (max-width: 1024px) {
  .prev{
    bottom: 133px !important;
    left: 0 !important;
  }
  .next{
    bottom: 133px !important;
    right: 0 !important;
  }
  header {
  
    .header-banner {
      .header-txt {
        transform: translate(13%, 68%);
        &-1 {
          font-size: 16px;
          line-height: 15.23px;
          transform: translate(4px, -107%);
        }
        &-2 {
          font-size: 65px;
          line-height: 66px;
        }
      }
      .social-link {
        transform: translate(64%, 115%);
        font-size: 18px;

        line-height: 25px;
        a {
          &:hover {
            &::after {
              transform: translate(90px, -10px);
            }
          }
        }
      }
    }
  }
  .banner {
    &-2{
      .box-banner{
        .box{
         
    width: 278px;
    transform: scale(0.45);
    height: 339px;
    position: absolute;
    top: -35px;
    right: -23px;
    box-sizing: border-box;

        }
        .box-txt{
          transform: scale(0.45);
          position: absolute;
          top: 5px;
          right: -12px;
        }
      }
    }
    .container {
      width: 100%;
      .banner-ct {
        img {
          width: 100%;
          height: 266.63px;
        }
        .txt-banner-1 {
          transform: translate(3px, -100px);

          .txt-8 {
            font-size: 18px;
          }
          .txt-9 {
            line-height: 0px;
          }
        }
        .txt-banner-5 {
          transform: translate(3px, -100px);

          .txt-8 {
            font-size: 18px;
          }
          .txt-9 {
            line-height: 0px;
          }
        }
        .box-txt-3 {
          bottom: 85px;
          left: 46px;
          .btxt-5 {
            font-size: 13px;

            line-height: 0;
          }
          .btxt-6 {
            font-size: 35px;

            word-spacing: 0;

            line-height: 0;
          }
        }
        .box-txt-6 {
          top: 100px;
          left: 63px;
          .btxt-8 {
            font-size: 38px;
            line-height: 34px;
          }
          .btxt-9 {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
    .box {
    }
  }
  .blog {
    .col-4 {
      margin: auto;
      padding: 0px 10px;
    }
  }
  .list {
    .list-bot {
      .item {
        &:hover {
          .product-action-grid {
            top: 230px;
            width: 226px;
          }
        }
        .product-action-grid {
          width: 226px;
          top: 265px;
        }
        .list-img {
          .s-img {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .brand {
    .brd {
      img {
        width: 100%;
      }
    }
  }
  footer {
    .sb-btn {
      transform: translate(-25px, 62px);
    }
  }
}
@media all and (max-width: 768px) {
  header {
    
    .header-banner {
      .header-txt {
        transform: translate(13%, 43%);
        &-1 {
          font-size: 10px;
          line-height: 6.23px;
          transform: translate(4px, -107%);
        }
        &-2 {
          font-size: 40px;
          line-height: 37px;
        }
        .disc-btn {
          font-size: 12px;
          line-height: 9px;
          a {
            padding: 10px 26px;
          }
        }
      }
      .social-link {
        transform: translate(38%, 115%);
        font-size: 15px;

        line-height: 24px;
        a {
          &:hover {
            &::after {
              transform: translate(75px, -10px);
            }
          }
        }
      }
    }
  }
  .slogan {
    font-size: 30px;
  }
  .banner {
    .box-banner{
      .box{
        top: -68px;
    right: -60px;
      }
      .box-txt{
        top: -36px;
        right: -50px;
      }
    }
    .col-3 {
      padding: 0 15px;
    }
    .col-6 {
      padding: 0 15px;
    }
    .container {
      
      .banner-ct {
        img {
          width: 100%;
          height: 208.25px;
        }
        .txt-banner-1 {
          transform: translate(3px, -50px);
          .txt-8 {
            font-size: 12px;
            line-height: 0px;
          }
          .txt-9 {
            font-size: 19px;
            line-height: 0px;
          }
        }
        .txt-banner-5 {
          transform: translate(3px, -50px);
          .txt-8 {
            font-size: 12px;
            line-height: 0px;
          }
          .txt-9 {
            font-size: 19px;
            line-height: 0px;
          }
        }
        .box-txt-3 {
          bottom: 63px;
          left: 31px;
          .btxt-5 {
            font-size: 9px;

            line-height: 22px;
          }
          .btxt-6 {
            font-size: 35px;

            word-spacing: 0;

            line-height: 0;
          }
        }
        .box-txt-6 {
          top: 52px;
          left: 20px;
          .btxt-8 {
            font-size: 26px;
            line-height: 26px;
          }
          .btxt-9 {
            font-size: 10px;
            line-height: 13px;
          }
        }
      }
    }
    .box {
    }
  }
  .blog {
    h3 {
      transform: translate(-180%, -60%);
    }
    .col-4 { margin: auto;
      padding: 0px 10px;
    }
  }
  .list {
    .list-bot {
      .col-3 {
        width: 33.3333%;
      }
      .item {
        &:hover {
          .product-action-grid {
            top: 230px;
          }
        }
        .product-action-grid {
          width: 100%;
          top: 265px;
        }
        .list-img {
          .s-img {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .brand {
    .brd {
      img {
        width: 100%;
      }
    }
  }
  footer {
    .inner-ft-top {
      .col-2 {
        width: 100%;
      }
      .col-8 {
        width: 100%;
        ul {
          transform: translate(0, 0);
        }
      }
      .logo-ft {
        transform: translate(0, 0);
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .sb-btn {
        transform: translate(0, 0);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media all and (max-width: 576px) {
  header {
  
    .header-nav {
      .logo {
        padding-left: 15px;
        padding-top: 15px;
      }
      nav {
        transform: translate(0px, 17px);
        ul {
          display: flex;
          .iconify {
            color: white;
            width: 30px;
            height: 30px;
          }
          li {
            padding: 21px;
          }
        }
      }
    }

    .header-banner {
      .header-txt {
        transform: translate(13%, 43%);
        &-1 {
          font-size: 10px;
          line-height: 6.23px;
          transform: translate(4px, -107%);
        }
        &-2 {
          font-size: 28px;
          line-height: 25px;
        }
      }
      .social-link {
        transform: translate(5%, 45%);
        font-size: 15px;
        line-height: 24px;
        a {
          &:hover {
            &::after {
              transform: translate(75px, -10px);
              width: 51%;
            }
          }
        }
      }
      .disc-btn {
        font-size: 10px;
        line-height: 9px;
        a {
          padding: 5px 7px;
        }
      }
    }
  }
  .header-bottom .col-4 .ct .txt-3 {
    font-size: 13px;
    line-height: 19px;
  }

  .slogan {
    font-size: 25px;
    padding: 40px 0;
  }
  .banner {
    .hide-banner {
      display: none;
    }
    .hidden-banner {
      display: block;
    }
    .col-3 {
      width: 33.3333%;
      padding: 0 15px;
    }
    .col-6 {
      width: 66.6667%;
      padding: 0 15px;
    }
    .container {
     
      .banner-ct {
        img {
          width: 100%;
          height: 208.25px;
        }
        .txt-banner-1 {
          transform: translate(3px, -50px);

          .txt-8 {
            font-size: 15px;
          }
          .txt-9 {
            line-height: 0px;
          }
        }
        .txt-banner-5 {
          transform: translate(3px, -50px);

          .txt-8 {
            font-size: 15px;
          }
          .txt-9 {
            line-height: 0px;
          }
        }
        .box-txt-3 {
          bottom: 85px;
          left: 46px;
          .btxt-5 {
            font-size: 8px;

            line-height: 0;
          }
          .btxt-6 {
            font-size: 25px;

            word-spacing: 0;

            line-height: 0;
          }
        }
        .box-txt-6 {
         
          .btxt-8 {
           
          }
          .btxt-9 {
           
          }
        }
      }
    }
    .box {
    }
  }
  .blog {
    h3 {
      transform: translate(-260%, -60%);    }
    .col-4 {
      padding: 0px 10px;
    }
  }
  .list {
    .list-bot {
      .col-3 {
        width: 50%;
      }
      .item {
        &:hover {
          .product-action-grid {
            top: 268px;
            width: 258px;
          }
        }
        .product-action-grid {
          width: 258px;
          top: 265px;
        }
        .list-img {
          .s-img {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .brand {
    .col-2 {
      width: 33.3333%;
    }
    .brd {
      img {
        width: 100%;
      }
    }
  }
  footer {
    .inner-ft-top {
      .col-2 {
        width: 100%;
      }
      .col-8 {
        width: 100%;
        ul {
          li {
            padding: 0 15px;
          }
          transform: translate(0, 0);
        }
      }
      .logo-ft {
        transform: translate(0, 0);
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .sb-btn {
        transform: translate(0, 0);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .inner-ft-bot .ftb-left {
      p {
        font-size: 13px;
      }
    }
  }
}
@media all and (max-width: 375px) {
  header {
 
    .header-nav {
      .logo {
        padding-left: 15px;
        padding-top: 15px;
      }
      nav {
        transform: translate(0px, 17px);
        ul {
          display: flex;
          .iconify {
            color: white;
            width: 30px;
            height: 30px;
          }
          li {
            .badge{
              top: 3px;
    left: 23px;
            }
            padding: 5px;
          }
        }
      }
    }

    .header-banner {
      .social-link {
        display: none;
      }

      .header-txt {
        .disc-btn {
          font-size: 8px;
          line-height: 9px;
          a {
            padding: 5px 5px;       
           }
        }
        transform: translate(13%, 43%);
        &-1 {
          font-size: 8px;
          line-height: 6.23px;
          transform: translate(4px, -107%);
        }
        &-2 {
          font-size: 20px;
          line-height: 17px;
        }
      }

     
    }
  }
  .header-bottom .col-4 .ct .txt-3 {
    font-size: 13px;
    line-height: 19px;
  }
  .header-bottom {
    .t3 {
      height: 45px;
    }
    .col-4 {
      height: 45px;
      .t1 {
        height: 45px;
        .txt-3 {
          font-size: 7px;
          line-height: 0px;
        }
        .txt-4 {
          font-size: 10px;
        }
      }
      .t2 {
        height: 45px;
        .txt-3 {
          font-size: 7px;
          line-height: 0px;
        }
        .txt-4 {
          font-size: 10px;
        }
      }
      .t3 {
        height: 45px;
        .txt-3 {
          font-size: 7px;
          line-height: 0px;
        }
        .txt-4 {
          font-size: 10px;
        }
      }
    }
  }

  .slogan {
    font-size: 15px;
    padding: 25px 0;
    line-height: 20px;
  }
  .banner {
    &-ct{
      // margin-bottom: 3px;
     img{
       display: block;
       width: 100%;
     }
    }
    .banner-1-hide {
      display: none;
    }
    .hide-banner {
      display: none;
    }
    .hidden-banner-2 {
      display: block;
    }
    .hidden-banner {
      display: block;
    }
    .col-3 {
      width: 50%;
      padding: 0 15px;
    }
    .col-6 {
      width: 100%;
      padding: 0 15px;
    }
    .container {
      // width: 375px;
      .banner-ct {
        img {
          width: 100%;
          height: 208.25px;
        }
        // .txt-banner-1 {
        //   transform: translate(3px, -100px);

        //   .txt-8 {
        //     font-size: 18px;
        //   }
        //   .txt-9 {
        //     line-height: 0px;
        //   }
        // }
        // .txt-banner-5 {
        //   transform: translate(3px, -100px);

        //   .txt-8 {
        //     font-size: 18px;
        //   }
        //   .txt-9 {
        //     line-height: 0px;
        //   }
        // }
        // .box-txt-3 {
        //   bottom: 85px;
        //   left: 46px;
        //   .btxt-5 {
        //     font-size: 13px;

        //     line-height: 0;
        //   }
        //   .btxt-6 {
        //     font-size: 35px;

        //     word-spacing: 0;

        //     line-height: 0;
        //   }
        // }
        // .box-txt-6 {
        //   top: 100px;
        //   left: 63px;
        //   .btxt-8 {
        //     font-size: 38px;
        //     line-height: 34px;
        //   }
        //   .btxt-9 {
        //     font-size: 12px;
        //     line-height: 14px;
        //   }
        // }
      }
    }
    .box {
    }
  }
  .blog {
    h3 {
      transform: translate(-325%, -60%);
    }
    .col-4 {
      padding: 0px 0px;
    }
  }
  .list {
    .list-top{ h3{
      font-size: 30px;
    }
  .vm-btn{
    padding-top: 64px;
    .i-vm{
      top: 66px;
    }
  }}
   
    .list-bot {
      .col-3 {
        width: 100%;
      }
      .item {
        margin: 0 auto;
        width: 78%;
        &:hover {
          .product-action-grid {
            top: 280px;
            width: 345px;
          }
        }
        .product-action-grid {
          width: 100%;
          top: 400px;
        }
        .list-img {
          .s-img {
            width: 270px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .brand {
    .col-2 {
      width: 33.3333%;
    }
    .brd {
      img {
        width: 100%;
      }
    }
  }
  footer {
    .inner-ft-top {
      .col-2 {
        width: 100%;
      }
      .col-8 {
        width: 100%;
        ul {
          font-size: 10px;
          li {
            padding: 0 5px;
          }
          transform: translate(0, 0);
        }
      }
      .logo-ft {
        transform: translate(0, 0);
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .sb-btn {
       
        transform: translate(0, 0);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .inner-ft-bot .ftb-left {
      p {
        font-size: 13px;
      }    padding-bottom: 20px;
    }
    .inner-ft-bot .ftb-right{
      transform: translate(79px, -74px);
    }
  }
}
